/* COMMON */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url("../images/anonymous-server-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
}

.page {
	background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.35) 50%);
}

/* HEADER */
.page__header {
	display: flex;
	justify-content: flex-end;
}

.nav-trigger {
	background-image: url("../images/ico-menu.svg"); background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(0,0,0, .7);
	outline-style: none;
	cursor: pointer;
	width: 45px;
	height: 45px;
	border-radius: 3px;
	border-style: none;
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 0px;
}

/* MENU */
.nav {
	width: 100vw;
	height: 100vh;
	background-color: rgba(71,49,49, .9);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: none;
}

.nav__items {
	list-style: none;
	width: 80%;
}

.nav__item {
	text-align: center;
}

.nav__link {
	font-family: "Roboto Slab", serif;
	font-size: 1.9em;
	font-weight: 700;
	line-height: 1.5em;
	text-decoration: none;
	color: rgb(208,208,207);
}

.nav-close {
	background-image: url("../images/ico-close.svg"); background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(0,0,0, .7);
	outline-style: none;
	cursor: pointer;
	width: 45px;
	height: 45px;
	border-radius: 3px;
	border-style: none;
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 0px;
}


/* MAIN */
.page__main {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 50%;
}

.page__wrapper {
	width: 30%;
}

.page__main-title {
	font-family: "Roboto Slab", serif;
	text-transform: uppercase;
	font-weight: normal;
	color: #ffffff;
}

/* FOOTER */
.page__footer {
	margin: auto;
	margin-top: 47%;
	background-color: rgba(255,255,255,.2);
	width: 80%;
	border-radius: 5px;
}

.page__wrapper {
	width: 100%;
}

.page__footer-copy {
	font-family: "Arial", serif;
	font-weight: lighter;
	color: #ffffff;
	opacity: .5;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	align-items: flex-end;
}
